body {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
#container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 10px;
}

#container > button {
    padding: 5px 10px;
    background-color: black;
    color: white;
}

#round-results, #round-scores, #container {
    border: 1px solid black;
    
}
#round-results, #round-scores {
    padding: 10px;
    flex: 1;
}

#results {
    text-align: center;
}
ul {
    list-style: none;
}
.listcontainer {
    display: flex;
    justify-content: space-evenly;
}