#container {
    display: flex;
    justify-content: space-evenly;
}

#container > button {
    padding: 5px 10px;
    background-color: black;
    color: white;
}

#results {
    text-align: center;
}
ul {
    list-style: none;
}